@font-face {
    font-family: roxboroughCfLightimport;
    src:("roxboroughCfLight.ttf");
}

h1 {
    color: #ff4219;
    font-family: roxboroughCfLightimport;
    font-weight: 100;
}

.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}