@font-face {
    font-family: roxboroughCfLightimport;
    src:("roxboroughCfLight.ttf");
  }
  @font-face {
    font-family: TTNormsThinimport;
    src:("TTNorms-Thin.otf");
  }
  header {
    height: 300vh;
  }
  .container {
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);
    /* does not work if overflow = visible */
    overflow: hidden;
    /* only works with absolute positioning */
    position: absolute;
    /* Make sure containers are full-width and height */
    height: 100vh;
    left: 0;
    width: 100%;
  }
  
  .container_solid {
    background: #ffbdb3;
    /* position this container at the top of its parent element */
    top: 0;
  }
  
  .title_wrapper {
    position: fixed;
    display: block;  
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  
  .title_wrapper h1 {
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    font-family: roxboroughCfLightimport;
    font-weight: 900;
    padding: 30px;
  }
  
  .container_solid .title_wrapper h1 {
    /* the text background */
    background: #ff4219;
    background-position: center;
  }
  
  .container_image {
    background: #ff4219;
    background-size:100vw auto;
    background-position: center;
    background-attachment: fixed;
    /* position the second container below the first container */
    top: 100vh;
  }
  
  .container_image .title_wrapper h1 {
    color: #ffbdb3;
  }

  section {
    min-height: 100vh;
    padding: 2em;
    margin: auto;
    max-width: 800px;
    background: #ffbdb3;
  }

  .head {
    font-family: roxboroughCfLightimport;
    text-align: center;
    font-size: 45px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: -20%;
    margin-bottom: 15%;
    padding-top: 70px;
    color: #ff4219;
    line-height: 1.6;
  }
  
  section p {
    font-family: TTNormsThinimport;
    font-size: large;
    line-height: 2;
  }

  .arrow {
    position: absolute;
    left: 50%;
    top: 93%;
    height: 50px;
    width: auto;
    transition: all .2s ease-in-out;
  }

  .arrowup {
    position: relative;
    left: 49%;
    top: 70px;
  }

.bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
    10%  { transform: scale(.9,1.1)   translateY(-50px); }
    10%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
